
{% load bootstrap4 %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
<nav class="navbar navbar-inverse" style="background-color: lightcyan; height: 70px; border: 1px solid blue;">
  <div class="container-fluid">
    <div class="navbar-header" style="margin-left: 8%;" >
      <a class="navbar-brand" href="{% url 'index' %}">
        <a  href="/"><img src="../../media/images/insta.jpeg" alt="" height="50" width="50" class="d-inline-block align-item-top" style="border-radius: 15px;" ></a>
        <img src="https://www.instagram.com/static/images/web/mobile_nav_type_logo.png/735145cfe0a4.png" alt="" width="150" class="d-inline-block align-text-top"/>

      </a>
    </div>

    <!-- Adding a search form  -->
    <div class="col-sm-3 col-md-3 navbar-right">

      <form class="navbar-form" role="search" action="{% url 'search' %}">

        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search User" name="article">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>

      </form>
    </div>
    <div class="col-md-4">
      <ul class=" nav-item list-unstyled d-flex flex-row justify-content-end">
        <li>
          <a class="fa fa-home" href="{% url 'index' %}" style="font-size:  32px; color: black; margin: 15px;" ></a>
        </li>
  
        <li >
          <a   class="fa fa-plus-square"  href="{% url 'add_post' %}" style="font-size: 32px; color: black; margin: 15px;" ></a>
        </li>
  
        <li>
          <a class="fa fa-heart" href="" style="font-size: 32px; color: black; margin: 15px;" ></a>
        </li>
      </ul>
      
    </div>
    <!-- search form end -->
    <!--The search form above-->
    <div class="col-sm-2 col-md-2">
      {% if user.is_authenticated %}
      <ul class="list-unstyled" >
        <li class="dropdown">
          <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">
            <img src="{{ user.profile.profile_picture.url }}" alt="profile" class="rounded-circle" width="32" height="32"/>

                    <span class="caret"></span>
                </a>
          <ul class="dropdown-menu" role="menu" style="background-color: aqua ; border: 2px solid blue; padding-left: 5px;" >
            <li>
              <a href="{%url 'profile' user.username%}">Profile</a>
            </li>
            <li>
              <a href="{%url 'posts'%}">All posts</a>
            </li>
            <li>
              <a href="/accounts/password/change">Change Password</a>
            </li>
            <li>
              <a href="/logout">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    
      {% else %}
      <li>
        <a class='btn btn-default' href="/accounts/login">Login</a>
      </li>

      {% endif %}
    </div>
  </div>
</nav>